<!DOCTYPE html>
html(lang="en")
head
     meta(charset="UTF-8")
     meta(name="viewport", content="width=device-width, initial-scale=1.0")
     meta(http-equiv="X-UA-Compatible", content="ie=edge")
     title sweetliving
     link(rel="stylesheet", href="css/styles.css")
body
     include modules/nav.jade
     .sl-container#main-container
          div(id="sl-hello-carousel" class="carousel slide" data-ride="carousel")
               ol(class="carousel-indicators")
                    li(data-target="#carouselExampleIndicators" data-slide-to="0" class="active")
                    li(data-target="#carouselExampleIndicators" data-slide-to="1")
                    li(data-target="#carouselExampleIndicators" data-slide-to="2")
                    li(data-target="#carouselExampleIndicators" data-slide-to="3")
                    li(data-target="#carouselExampleIndicators" data-slide-to="4")
                    li(data-target="#carouselExampleIndicators" data-slide-to="5")
               div.carousel-inner
                    .carousel-item.active
                         img(class="d-block w-100" src="https://wallpaper.wiki/wp-content/uploads/2017/05/Camper-vans-for-sale-wallpapers-1920x1080.jpg" alt="First slide")
                         div.carousel-caption.d-none.d-md-block
                              h3 Witaj na Sweetliving!
                              p
                                   a(href="") Idź do sklepu
                    .carousel-item
                         img(class="d-block w-100" src="https://wallpapercave.com/wp/ElOo7dZ.jpg" alt="second slide") 
                         div.carousel-caption.d-none.d-md-block
                              h3 SL Collection
                              p
                                   a(href="") Idź do sklepu
                    .carousel-item
                         img(class="d-block w-100" src="http://goldwallpapers.com/uploads/posts/classic-cars-wallpapers-free/classic_cars_wallpapers_free_023.jpg" alt="third slide")     
                    .carousel-item
                         img(class="d-block w-100" src="https://lh3.googleusercontent.com/nbxr8mAKd_m9q1ODpOPddz3mSeoPMaSGTqZl69xOQAMT8bsRLDB16WF8HSoChZDWM5U=h900" alt="forth slide") 
                    .carousel-item 
                         img(class="d-block w-100" src="http://getwallpapers.com/wallpaper/full/b/3/3/458630.jpg" alt="fifth slide")   
                         
               a(class="carousel-control-prev" href="#sl-hello-carousel" role="button" data-slide="prev")
                    span(class="carousel-control-prev-icon" aria-hidden="true")
                    span(class="sr-only") Previous
               a(class="carousel-control-next" href="#sl-hello-carousel" role="button" data-slide="next")
                    span(class="carousel-control-next-icon" aria-hidden="true")
                    span(class="sr-only") Next
     
          .content-box
               p.sl-blockqoute <b>Sweet Living Home Inspirations</b> to wyjątkowe miejsce, które powstało z pasji oraz <b>zamiłowania</b> do piękna i estetyki. Naszą misją jest <b>aranżacja</b> przytulnych wnętrz urządzonych ze smakiem, w których gości zarówno <b>elegancja</b> i <b>nietuzinkowość</b> jak i <b>domowa atmosfera</b>. Tworzymy projekty wnętrz w stylu <b>Hampton</b>, <b>New England</b> oraz <b>glamour</b>, które stanowią uosobienie <b>luksusu</b>, a każdy detal nabiera unikalnego charakteru. Zapraszamy do naszego <b>showroomu w Warszawskim Wilanowie</b>, gdzie na miejscu można zapoznać się z bogatą ekspozycją artykułów dekoracyjnych. Oferowane w Sweet Living marki to: <b>Riviera Maison</b>, <b>Eichholtz</b>, <b>Bloomingville</b>, <b>MTI Furninova</b>, <b>Lene Bjerre</b>, <b>Thibaut</b>, <b>Ralph Lauren</b> oraz <b>Hilding</b>.
               
               #brandslider
                    a(href="" target="_blank")
                         img(src="img/logo.png")
                    a(href="" target="_blank")
                         img(src="img/logo.png")
                    a(href="" target="_blank")
                         img(src="img/logo.png")
                    a(href="" target="_blank")
                         img(src="img/logo.png")
                    a(href="" target="_blank")
                         img(src="img/logo.png")
                    a(href="" target="_blank")
                         img(src="img/logo.png")
                    a(href="" target="_blank")
                         img(src="img/logo.png")
                    a(href="" target="_blank")
                         img(src="img/logo.png")
                    a(href="" target="_blank")
                         img(src="img/logo.png")
                    a(href="" target="_blank")
                         img(src="img/logo.png")
                    a(href="" target="_blank")
                         img(src="img/logo.png")
                    a(href="" target="_blank")
                         img(src="img/logo.png")
               
               //- div(id="brand-slideshow")
               //-     div#brand-slideshow-1
               //- 
     include modules/footer.jade     
                    
     script(src="https://code.jquery.com/jquery-3.2.1.min.js")
     script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js")
     script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js")
     script(src="js/brandslider.js")
     script(src="js/functions.js")
