<!DOCTYPE html>
html(lang="en")
head
     meta(charset="UTF-8")
     meta(name="viewport", content="width=device-width, initial-scale=1.0")
     meta(http-equiv="X-UA-Compatible", content="ie=edge")
     title sweetliving
     link(rel="stylesheet", href="css/styles.css")
body
     include modules/nav.jade
     
     script(src="https://code.jquery.com/jquery-3.2.1.min.js")
     script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js")
     script(src="js/functions.js")
