@import "modules/vars.sass"
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=latin-ext"
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"

.sl-container
     max-width: 1250px
     margin: 0 auto
     @media screen and (max-width: 1270px)
          padding: 0 15px

body
     background-image: url('https://sweetliving.pl/catalog/view/theme/fastor/img/llg/bg.png')
     background-repeat: repeat
     font-family: 'Roboto', sans-serif
     margin: 0

.sl-btn
     padding: 5px
     border: 1px solid $sl-light
     +tran
     &:hover
          cursor: pointer
          background: $sl-light
          text-decoration: none

.sl-container#main-container
     margin-top: 15px

@import "modules/nav"
@import "modules/carousel"
