#brandslider
     a(href="" target="_blank")
          img(src="https://sweetliving.pl/image/catalog/Logotypy/producer-rivera.jpg")
     a(href="" target="_blank")
          img(src="https://sweetliving.pl/image/catalog/LOGOSY/smeg_logo_1.jpg")
     a(href="" target="_blank")
          img(src="https://sweetliving.pl/image/catalog/Logotypy/producer-thibaut.jpg")
     a(href="" target="_blank")
          img(src="https://sweetliving.pl/image/catalog/VB/villeroy_boch.jpg")
     a(href="" target="_blank")
          img(src="https://sweetliving.pl/image/catalog/Logotypy/producer-bloom.jpg")
     a(href="" target="_blank")
          img(src="https://sweetliving.pl/image/catalog/Logotypy/riverdale.jpg")
     a(href="" target="_blank")
          img(src="https://sweetliving.pl/image/catalog/Logotypy/SL%20150x80%20px_DRUK.png")
     a(href="" target="_blank")
          img(src="https://sweetliving.pl/image/catalog/Logotypy/cote-table.jpg")
     a(href="" target="_blank")
          img(src="https://sweetliving.pl/image/catalog/Logotypy/eichholtz_new.jpg")
     a(href="" target="_blank")
          img(src="https://sweetliving.pl/image/catalog/LOGOSY/gerlach_new2.jpg")
     a(href="" target="_blank")
          img(src="https://sweetliving.pl/image/catalog/Logotypy/producer-hilding.jpg")
     a(href="" target="_blank")
          img(src="https://sweetliving.pl/image/catalog/Logotypy/jline.jpg")
     a(href="" target="_blank")
          img(src="https://sweetliving.pl/image/catalog/Logotypy/lene-bjerre.jpg")
     a(href="" target="_blank")
          img(src="https://sweetliving.pl/image/catalog/Logotypy/light-and-living.jpg")
     a(href="" target="_blank")
          img(src="https://sweetliving.pl/image/catalog/Logotypy/locherber_logo.jpg")
     a(href="" target="_blank")
          img(src="https://sweetliving.pl/image/catalog/Logotypy/maisonmadlene.jpg")
     a(href="" target="_blank")
          img(src="https://sweetliving.pl/image/catalog/LOGOSY/MAX_BENJAMIN_LOGO_S.jpg")
     a(href="" target="_blank")
          img(src="https://sweetliving.pl/image/catalog/Logotypy/furninova.jpg")
