footer#sl-sitefooter
     .sl-container
          .column#fcol1
               img(src="img/logo.png")
               ul.info
                    li ul. Kazachska 3 lok. 154
                    li 02-999 Warszawa/Wilanów
                    li 22 498 56 54
                    li sklep@sweetliving.pl
                    
          .column#fcol2
               h2 Mapa Strony
               ul.links
                    li
                         a(href="") Metody płatności
                    li
                         a(href="") Polityka Prywatności
                    li
                         a(href="") Regulamin "Prestige Club"
                    li
                         a(href="") Regulamin sklepu
                    li
                         a(href="") Sprzedaż, dostawa i wysyłka
                    li
                         a(href="") Sweet Living Home Inspirations
                    li
                         a(href="") Zwroty i reklamacja
                    li
                         a(href="") Promocja
                    li
                         a(href="") Praca w Sweet Living
                         
          .column#fcol3
               h2 Newsletter
               p Newsletter od Sweet Living to ekskluzywne i limitowane oferty, nowości oraz trendy wnętrzarskie.
               form(action="" method="")
                    input(type="text" name="newsletter" placeholder="Adres e-mail...")
               ul.socials
                    li
                         a(href="")
                              i.fa.fa-facebook
                    li
                         a(href="")
                              i.fa.fa-instagram
                    li
                         a(href="")
                              i.fa.fa-pinterest-p
                    li
                         a(href="")
                              i.fa.fa-google-plus
          .column#fcol4
               h2 Bon Podarunkowy
               p Bony podarunkowe można zrealizować w Showroomie na warszawskim Wilanowie, oraz w sklepie internetowym. Oferujemy bony o wartościach 50, 100, 500 zł.
               a(href="").sl-btn Zamów
     
     .sl-container.main-footer
          p &copy; copyright 2012-2017 | Wszelkie Prawa Zastrzeżone
          p Projekt i realizacja: <b><a href="http://www.kubamilcarz.pl" target="_blank">Jakub Milcarz</a></b>
