section(class="carousel slide" data-ride="carousel" id="postsCarousel")
     .row
          .col-xs-12.text-md-right.lead
               a(class="sl-btn sl-btn-filled prev" href="" title="go back")
                    i(class="fa fa-lg fa-chevron-left")
               a(class="sl-btn sl-btn-filled next" href="" title="more")
                    i(class="fa fa-lg fa-chevron-right")
     .row          
          .carousel-inner
               .row.row-equal.carousel-item.active.m-t-0
                    .col-md-3
                         a(href="").sl-product-slider-product
                              img(src="https://sweetliving.pl/image/cache/catalog/LOCHERBER/cosval_420020-200x200.jpg").sl-product-slider-img
                              h1.sl-product-slider-title Dyfuzor zapachowy locherber tangerine & cinnamon L
                              h2.sl-product-slider-price 299.00 PLN
                              
                    .col-md-3
                         a(href="").sl-product-slider-product
                              img(src="https://sweetliving.pl/image/cache/catalog/LOCHERBER/cosval_420020-200x200.jpg").sl-product-slider-img
                              h1.sl-product-slider-title Dyfuzor zapachowy locherber tangerine & cinnamon L
                              h2.sl-product-slider-price 299.00 PLN
                    .col-md-3
                         a(href="").sl-product-slider-product
                              img(src="https://sweetliving.pl/image/cache/catalog/LOCHERBER/cosval_420020-200x200.jpg").sl-product-slider-img
                              h1.sl-product-slider-title Dyfuzor zapachowy locherber tangerine & cinnamon L
                              h2.sl-product-slider-price 299.00 PLN
                    .col-md-3
                         a(href="").sl-product-slider-product
                              img(src="https://sweetliving.pl/image/cache/catalog/LOCHERBER/cosval_420020-200x200.jpg").sl-product-slider-img
                              h1.sl-product-slider-title Dyfuzor zapachowy locherber tangerine & cinnamon L
                              h2.sl-product-slider-price 299.00 PLN
                         
               .row.row-equal.carousel-item.m-t-0
                    .col-md-3
                         a(href="").sl-product-slider-product
                              img(src="https://sweetliving.pl/image/cache/catalog/LOCHERBER/cosval_420020-200x200.jpg").sl-product-slider-img
                              h1.sl-product-slider-title Dyfuzor zapachowy locherber tangerine & cinnamon L
                              h2.sl-product-slider-price 299.00 PLN
                              
                    .col-md-3
                         a(href="").sl-product-slider-product
                              img(src="https://sweetliving.pl/image/cache/catalog/LOCHERBER/cosval_420020-200x200.jpg").sl-product-slider-img
                              h1.sl-product-slider-title Dyfuzor zapachowy locherber tangerine & cinnamon L
                              h2.sl-product-slider-price 299.00 PLN
                    .col-md-3
                         a(href="").sl-product-slider-product
                              img(src="https://sweetliving.pl/image/cache/catalog/LOCHERBER/cosval_420020-200x200.jpg").sl-product-slider-img
                              h1.sl-product-slider-title Dyfuzor zapachowy locherber tangerine & cinnamon L
                              h2.sl-product-slider-price 299.00 PLN
                    .col-md-3
                         a(href="").sl-product-slider-product
                              img(src="https://sweetliving.pl/image/cache/catalog/LOCHERBER/cosval_420020-200x200.jpg").sl-product-slider-img
                              h1.sl-product-slider-title Dyfuzor zapachowy locherber tangerine & cinnamon L
                              h2.sl-product-slider-price 299.00 PLN
                                                  
