nav#sl-sitenav
     //- .nav-bar__sale
     //-      img(src="")
     //-      a(href="").overlay
     //-           .sl-container
     //-                h1 tylko do jutra! 50% na meble firmy Riviera! <b>zobacz!</b> 
               
     .nav-bar__shadow
          .sl-container
               ul.info
                    li
                         a(href="")
                              i.fa.fa-phone
                              | 22 498 54 56
                    li
                         a(href="")
                              i.fa.fa-envelope
                              | sklep@sweetliving.pl
                              
               ul.auth
                    li.added-mobile
                         a(href="")
                              i.fa.fa-phone
                              | 22 498 54 56
                    li
                         a(href="") Zaloguj się
                    li
                         a(href="").sl-btn Załóż konto
                    li
                         a(href=""): i.fa.fa-shopping-cart
                    li#toggleSearchMobile.mobile
                         a(): i.fa.fa-search
                         
     a(href="").nav-bar__logo_mobile
          img(src="img/logo.png")
     .nav-bar
          i.fa.fa-bars#toggleSiteMobileMenu
          .sl-container#mobileNav
               ul.links
                    li
                         a(href="")
                              i.fa.fa-home
                    li
                         a(href="")
                              | Sklep Online          
                    li
                         a(href="").sl-collection
                              | SL Collection                         
                    li
                         a(href="")
                              | Projektowanie
               a(href="").nav-bar__logo
                    img(src="img/logo.png")
                    
               ul.links
                    li
                         a(href="")
                              | O Nas
                    li
                         a(href="")
                              | Współpraca        
                    li
                         a(href="")
                              | Marki                       
                    li
                         a(href="")
                              | Blog     
                    li#toggleSearch.desktop
                         a(): i.fa.fa-search
     
     .nav-search-box
          .sl-container
               form(action="" method="get")
                    input(type="search" name="q" placeholder="Szukaj marek, mebli i innych...")
                    button(type="submit") search
               i.fa.fa-close#closeMenu
